= stylesheet_link_tag 'rails_admin/ra.duration'

=form.fields_for field.name, class: "form-inline" do |nested_form|
  .aligned-set
    %div
      = nested_form.number_field :days, field.html_attributes.merge({ value: field.days, min: 0, class: "form-control duration-field" })
      %span.mid-label= ","
    = nested_form.label :days, :days, class: "below-label"


  .aligned-set
    %div
      = nested_form.number_field :hours, field.html_attributes.merge({ value: field.hours, min: 0, max: 23, class: "form-control duration-field" })
      %span.mid-label= ":"
    = nested_form.label :hours, :hours, class: "below-label"


  .aligned-set
    %div
      = nested_form.number_field :minutes, field.html_attributes.merge({ value: field.minutes, min: 0, max: 59, class: "form-control duration-field" })
      %span.mid-label= ":"
    = nested_form.label :minutes, :minutes, class: "below-label"
  

  .aligned-set
    = nested_form.number_field :seconds, field.html_attributes.merge({ value: field.seconds, min: 0, max: 59, class: "form-control duration-field" })
    = nested_form.label :seconds, :seconds, class: "below-label"